
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
   
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">

    
    <header>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg ml-2">
                
                <img src="/media/imgs/logo.png" height=80px width=auto alt="Logo">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="ml-4 collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ml-3">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{%url 'shop:index'%}">Shop <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{%url 'home:cabinet'%}">Curio Cabinet <span class="sr-only">(current)</span></a>
                    </li>
                    
                   
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Category
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'shop:index' %}?category=Electronics">Electronics</a>
                        <a class="dropdown-item" href="{% url 'shop:index' %}?category=Accessories">Accessories</a>
                        <a class="dropdown-item" href="{% url 'shop:index' %}?category=Sports">Sports</a>
                        <a class="dropdown-item" href="{% url 'shop:index' %}?category=Home Decor">Home Decor</a>
                      </div>
                    </li>
                    
                  </ul>
                  
                    
                  <!-- <form class="form-inline" method="GET">
                    <input id="form" class="form-control mr-sm-2" name="item_name" type="search" placeholder="Search your product">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">SEARCH</button>
                </form>
               -->
            
                <button id='cart1' data-html='true' type="button" class="{{prod.title}} ml-2 mr-sm-2 my-2 btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Bottom popover">
                  Cart(0)
                </button>
              <a class='btn btn-secondary' href="{% url 'home:logout_page' %}" style="padding:3px">Logout</a>
               <!-- </button> -->
              </div>
            </nav>
      </div>
      </div>
    </header>
     <section class="promo-section">
      
        <!-- <h1>The Curio Journal</h1> -->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../media/imgs/radio.png"  height=642px class="d-block w-100 " alt="...">
              <div class="carousel-caption  d-md-block">
                <h1>Radio's</h1>
                <h3>Rain poured outside as Ravi tuned the dial. Crackling through static, her favorite song played. He smiled, cassette spinning, tea steaming—just another magical evening of mixtapes and memories.</h3>
                <h4>Your Companion in Silence.</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../media/imgs/market.png"  height=642px class="d-block w-100 " alt="...">
              <div class="carousel-caption  d-md-block">
                <h1>Cassette</h1>
                <h3>Back in the day, cassettes spun stories of love, heartbreak, and rebellion. Rewinding with a pencil, recording radio hits, and trading mixtapes made every crackle and hiss feel like magic.</h3>
                <h4>Not just music — a memory for your shelf.</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../media/imgs/child.png"  height=642px class="d-block w-100">
              <div class="carousel-caption  d-md-block">
                <h1>Playstations and video games</h1>
                <h3>In the '90s, arcades buzzed with energy. Kids slid coins into PlayStation machines, battling in Tekken or racing in Ridge Racer. Every game was a thrilling escape, filled with laughter and friendly rivalry.</h3>
                <h4>Retro gaming, endless memories—one coin at a time.</h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../media/imgs/car.webp"  height=642px class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1>Vintage car</h1>
                <h3>He handed me a mixtape with shaky handwriting: “For You.” Every song was a secret. We drove nowhere, talking about everything. That old car knew more than anyone.</h3>
                <h4>Back When Cars Had Soul.</h4>
              </div>
            </div>
          </div>
          
        </div>
      
    
    </section>
 
     <section>
     <div class="video-hero">
      
      <div class="overlay"></div>
      <div class="hero-content px-4">
        <h1>Welcome to <span class="brand-name">Curio Era</span></h1>
        <h3 style="color:#eec790">Where Vintage Finds a New Life</h3>
        <div style="
          text-align: center;
          padding: 20px 20px 1px;
          background: linear-gradient(to right, #9c804f, #e67926);
          color: #6A2A17;
          font-family: 'Georgia', serif;
          border-radius: 10px;
          margin: 30px 0;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        
        "> <p>Keep those old cassettes and vintage flowers on your shelf — because some memories deserve a place beyond the cloud. </p></div>
        <a href="{% url 'shop:index' %}" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
  </section>
   

  <section>
      <div class="conatiner head">
        <h1 class="text-center ">Today’s Curio Picks!</h1>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide card">
              <img src="https://4.bp.blogspot.com/-7BJTLjZY0RM/XIFrmTivNBI/AAAAAAABWs0/nhiNNUw3HCkgWz88wpad9-8-XJL1j9adwCLcBGAs/s640/screenshot-20.jpg" height=350px width=350px/>
             <div class="card-body"> + 
              <a href="/shop/?category=electronics" class="">Explore</a> </div>
            </div>
            <div class="swiper-slide card">
              <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh11mjZjA7rWTxERrR0DGubxQ93JuBrsd8Y2VD-5ZV7LxreE-5eG9odNPhKGcmRqzYwJkQSmn91Vdyw99_tp0DyjEH1lBAsBwijF8GMe3-XSY8UFJEdC1cgPOOt-6LP-zumjGssEeIlp_Xfr3jwb1frigbwfFkVLx7MtbFn7NdSK9E5FmROTdKZx0ha/s4048/IMG_20250421_133800.jpg" height=350px width=350px />
              <div class="card-body"> + 
                <a href="shop/?category=Home Decor" class="">Explore</a> </div>
            </div>
            <div class="swiper-slide card">
              <img src="media/imgs/mirror.png"  height=350px width=350px />
              <div class="card-body"> + 
                <a href="shop/?category=Accessories" class="">Explore</a> </div>
            </div>
            <div class="swiper-slide card">
              <img src="https://www.troyhunt.com/content/images/2016/02/34783477zeroten_scn25.jpg"height=350px width=350px />
              <div class="card-body"> + 
                <a href="shop/?category=Home Decor" class="">Explore</a> </div>
            </div>
            <div class="swiper-slide card">
              <img src="media/imgs/cassette.png" height=350px width=350px/>
              <div class="card-body"> + 
                <a href="shop/?category=electronics" class="">Explore</a> </div>
            </div>
            <div class="swiper-slide card">
              <img src="media/imgs/clock.png" height=350px width=350px/>
              <div class="card-body"> + 
                <a href="shop/?category=Home Decor" class="primary">Explore</a> </div>
            </div>
            
          </div>
          <div class="swiper-pagination"></div>
      </div>
      </div>
    </section>
    <section>
    
    <div class="container my-5">
      <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
          <h1 class="display-5 fw-normal" style="color:#6A2A17" >Curio's Memory wall!</h1>
          <p class="fs-5" style="color:white">Share your favorite vintage find and get a chance to be featured in our community gallery! Also, Tell us a short story that’s etched in your heart forever. <a href="/docs/5.3/examples/navbar-static/"> User's wall</a> </p>
          
          
            <form method="POST" enctype="multipart/form-data" action="{% url 'home:cabinet' %}">
              {%csrf_token%}
              
              
              <input type="text" name="desc" class='inp mb-4' id="desc" placeholder="Enter your iconic story" style="padding: 4px;">
              <br>
              <input type="file" name="image" class='inp' id='image' accept="image/png" >
              <input type="submit" value="Upload" id="submit-btn" style="padding: 2px;">
             </form>
           
          
      </div>
      <div class="col-sm-8 py-5 mx-auto">
        <form id="pollForm">
        <h1 style="color:#6A2A17"> What you like us to add more?</h1>
        
        <p>Pick your best option: </p>
        <input type="radio" name="vote" value="Vintage papers"> Curio's Vintage papers <br>
        <input type="radio" name="vote" value="Vintage Phone covers"> Curio's Vintage Phone covers <br>
        <input type="radio" name="vote" value="Vintage Almirah"> Curio's Vintage Almirah <br>
        <input type="radio" name="vote" value="Vintage Flowers"> Curio's Vintage Flowers <br>
        <button type="button" class="mt-3" onclick="submit_vote()">Submit</button>
      </form>
      <div id="pollResult"></div>
      </div>
      </div>
    </div>
    </section>
    </div>
    
    
</body>           
              
               
         
          

  

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
    
  function submit_vote() {
    const options = document.getElementsByName('vote');
    let selected = null;
    
    for (let i = 0; i < options.length; i++) {
      if (options[i].checked) {
        selected = options[i].value;
        break;
      }
    }

    const resultDiv = document.getElementById('pollResult');

    if (selected) {
      resultDiv.innerHTML = `<p style="margin-top: 20px; font-size: 1.2rem; color: #fff;">Thank you! We'll surely come up with <strong>${selected}</strong> collections super soon</p>`;
    } else {
      resultDiv.innerHTML = `<p style="margin-top: 20px; font-size: 1.2rem; color: red;">Please select an option before submitting.</p>`;
    }
  }


  </script>
  <script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="P4_Ns6b4U33m6JltF_y7-";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script>
  </body>
  </html>

