{% extends 'shop/base.html' %}
{%load static%}
     
     {%block body%}
  <section class="px-4 px-md-5" style="padding-top:50px; padding-bottom:50px;">
  <h2 style="color:#631903">CURIO'S  VINTAGE COLLECTION!</h2>
  <div class="row">
 <!-- moved here -->
    {% for prod in products %}
      <div class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="product-card" style="border:2px solid #6A2A17">
        <img src="{{prod.image.url}}" class="card-img-top" height=300px width=auto>
        <div class="card-body">
          <div id="nm{{ prod.id }}" class="card-title h1" style="color:#6A2A17; padding: 10px;
            border-radius: 10px;
            overflow: hidden;">{{ prod.title }}</div>
          <!-- <p style="color:#e5c793">Last bought: {{ prod.buyer_count }}</p> -->

          <span class="card-text ml-2" style="color:#e5c793"><s>{{ prod.price }}</s></span>
         <span id="price{{ prod.id }}" class="card-text" style="font-size: 20px; color:#8d1919">{{ prod.discounted_price }}</span>
        </div>
        <div style="text-align: center;">
          <a class="btn-success mt-2" href="{% url 'shop:detail' prod.id %}" style="background-color: #6A2A17; color:#e5c793; padding:10px 10px; border-radius: 2px;">view</a>
          <button id="{{ prod.id }}" class="atc btn btn-warning mt-2" style="background-color: #f1cd8e; color:#6A2A17; margin-bottom: 6px;">Add to cart</button>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
  </section>


     
{%endblock%}
{% block scripts %}
<script type="text/javascript">
    if(localStorage.getItem('cart')==null){
         localStorage.setItem('cart', JSON.stringify({}));
        var cart={};
    }
    else{
        cart=JSON.parse(localStorage.getItem('cart'));
    }
    $(document).on('click','.atc',function(){
        // console.log('working');
       
        // var item=this.id.toString();
        // if(cart[item]==undefined){
        //     cart[item]=1;
        // }
        var item = this.id.toString();

      if (cart[item] == undefined) {
        quantity = 1;
        name = document.getElementById("nm" + item).textContent;
        let priceElement = document.getElementById("price" + item);
        if (!priceElement) {
            console.error("Price element not found for item:", item);
            return; // stop execution if not found
        }
        console.error(priceElement);
        let price = parseFloat(priceElement.textContent);

        cart[item] = [quantity, name, price];
        } 
      else {
        quantity = cart[item][0] + 1;
        cart[item][0] = quantity;
        price = parseFloat(document.getElementById("price" + item).textContent);
        cart[item][2] += price;
        }

        // console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById("cart1").innerHTML='Cart('+Object.keys(cart).length+')';
        // 'Cart('+Objects.keys(cart).length+')';/
        console.log(Object.keys(cart).length);

        
    });
    
    if (localStorage.getItem('cart') != null ) {
    display_popover(cart);
    }
   function display_popover(cart){
    
    var cartstr="<h5><u> this is your cart </u></h5>";
    var cnt=1;

    for (var x in cart){
        var itemElement = document.getElementById('nm' + x);
        var itemName = document.getElementById('nm' + x);
        if (itemElement) {
        // cartstr += cnt + '. ' + itemElement.innerHTML + " qty:" + cart[x][0] + "</br>";
        cartstr += cnt + '. ' + cart[x][1] + " qty: " + cart[x][0] + "<br>";

        cnt++;
    }

    }
    cartstr+= "<a href='{%url 'shop:checkout'%}'><button class='btn btn-secondary' id='checkout' >Checkout</button></a>";
    cartstr += "<button class='btn btn-danger' id='clearCart'>Clear Cart</button>";
    console.log(cartstr);

   document.getElementById("cart1").setAttribute('data-content',cartstr);
   $('[data-toggle="popover"]').popover();

}
$(document).on('click', '#clearCart', function(){
    localStorage.setItem('cart', JSON.stringify({})); // empty the cart
    document.getElementById("cart1").innerHTML = 'Cart(0)'; // reset cart count
    $('[data-toggle="popover"]').popover('hide'); // close the popover if open
    location.reload(); // optionally refresh the page to update the display
});


</script>
<script>
(function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="P4_Ns6b4U33m6JltF_y7-";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
</script> 

{% endblock %}